{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
          "extensions": [".js", ".jsx"]
      }
    }
  }
}
