@use "../sass" as *;
@use "~normalize.css/normalize";

#app {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

button {
  &:not(disabled) {
    cursor: pointer;
  }

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;

  max-width: 90%;
  @include sm {
    max-width: 80%;
  }
  @include md {
    max-width: 50%;
  }
  @include lg {
    max-width: 33%;
  }
  @include xl {
    max-width: 25%;
  }

  &.primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    &:hover {
        background-color: #286090;
        border-color: #204d74;
    }
  }

  &.center {
    margin: 0 auto;
    display: block;
  }
}
