@use '../sass' as *;

@include md {
  section {
    div {
      display: flex;

      p {
        flex-basis: 25%;
      }

      button {
        flex-basis: 75%;
      }
    }
  }
}

section {
  button {
    .dark & {
      background-color: #00008b;
      border-color: #00002b;
    }
  }
}
